#headline {
    font-family: Garamond;
    text-align: center;
    color: whitesmoke;
    text-shadow: lightcoral 0px 0px 10px;
}
body{
    background-color: cadetblue ;
}
#menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: lightcoral;
    border: 5px solid whitesmoke;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px;

}
#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 150px;
    display: inline-block;
    padding: 8px;
    font-size: large;
    font-family: Garamond;

}

#menu li{
    display: inline-block;
}
 img{
 width:400px;
     height: 400px;
 }
 figure{
     border: 10px solid whitesmoke;
    padding: 10px;
    display: inline-block;
    width: 400px;
    background-color: whitesmoke;
    margin: 25px;
 }

 figcaption{
    text-align: center;
    font-family: Garamond;
    font-weight: bold;
    font-size: large;

}
 div img{
     width: 350px;
     height: 300px;
 }
 #menu a:hover{
    border-radius: 20px 5px;
    background-color: azure;
}


#menu .active,
#menu .active a,
#menu .active span {color: #E60805  !important;background: white; border-radius: 20px 5px;}

#fr{
    margin: 50px 700px 100px 680px;
}
#f{
    text-align: center;
}
div{
    display: inline-block;
}