body{
    background-color: #A1E3B5;
}

#headline{
    font-family: "MV Boli";
    font-weight: bold;
    font-size: xxx-large;
    color:#1C563D;
    text-decoration: none;
    text-shadow: #F3EED6 0px 0px 3px;
}


#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 5px solid darkgreen;
    border-radius: 20px 5px;
    width: 100%;
    text-align: center;
    background-color: #F3EED6;
    }
#menu li{display: inline;}

#menu a{
    color:black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 150px;
    font-size: large;
}
#menu a:hover{
    border-radius: 20px 5px;
    background-color: azure;
}


#menu .active,
#menu .active a,
#menu .active span {color: #E60805  !important;background: white; border-radius: 20px 5px;}

figure{
    border: 10px solid #93754D;
    padding: 10px;
    display: inline-block;
    width: 400px;
    background-color: whitesmoke;
    margin: 25px;


}
figcaption{
    text-align: center;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: medium;


}

#contact{
    background-image: url("https://www.komod78.ru/image/cache/webp/catalog/0001/test/Stoleshnitsy/55_1-1030x700.webp");
    border: #93754D solid 5px;
    width: 100%;
    padding: 10px;
    border-spacing: 20px;
    align-self: center;
    margin-top: 25px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: black;
}
#f{
    text-align: center;
    font-family: "Comic Sans MS";
}

#kor{
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: medium;
    margin-top: 25px;

}

